{% load ndf_tags %}
{% load i18n %}

{% block head %}

  <link href="/static/ndf/bower_components/jqtree/jqtree.css" rel="stylesheet"> 
  <script src="/static/ndf/bower_components/jqtree/tree.jquery.js"></script> <!-- checked -->
    
  <script type="text/javascript">
    $(document).ready(function() {      

      // Funtion for loading tree for showing collection list left side panel
      doc();

      // Function for manipulating tree when user visits to page directly via browser url
      TreeTillNode();

    });

    function TreeTillNode () {
      // This gives the last hierarchy node id from browser url.
      var url = window.location.search.replace("?selected=", "")

      // Condition to check whether the tree has been loaded on the page completely or not before attempting any function on tree(such as 'getNodeById')
      if (url && $(".collection").not(".jqtree-loading").length > 0){

        var tree_build = $(".collection").not(".jqtree-loading");
        var node = tree_build.tree('getNodeById', url);
        tree_build.tree('selectNode', node);
        return;
      }
      
      // Javascript function to be used for checking objects in specific time of interval
      setTimeout(function(){
        // console.log($(".collection"))
        if(url && ($(".collection").length > 0)) { TreeTillNode() }
      }, 100 );
    
    }
    

    function doc(){

      var $tree = $('.collection');
      var arr = [];  
      {% get_node_type node as node_type %}  
      
      var node_type = "{{node_type}}";

      if(node_type=="Course"){
        $('.collection').tree({
           autoOpen: true
         });
      }

      $tree.tree({
        selectable: true,
      });

      // This "tree.open" event helps to open the particular node from browser url
      $tree.bind(
        'tree.open',
        function(e) {
            var node = e.node;
            var node_id = node.id;
            if (arr.indexOf(node_id) < 0){
              arr.push(node_id);  
            }

        }
      );

      // This "tree.select" event helps to click the particular tree node and also triggers the click event on tree node
      $tree.bind(          
        'tree.select',
        function(event) {
            // The clicked node is 'event.node
            var node = event.node;
            var parent_arr = [];
            var parent_node = node;
            parent_arr.push(node.id);

            // Bellow code manipulates the parent hierarchy of clicked node in a tree
            while (parent_node) {
                if (parent_node.name !== undefined){           
                  $tree.tree('openNode', parent_node);
                  parent_node = parent_node.parent;
                  if (parent_node.name !== undefined){
                    parent_arr.push(parent_node.id);                                          
                  }
                }
                else{
                  break;
                }
            }
            var nav_list = parent_arr.reverse();

            // alert(nav_list);
            // alert(node_type);

            $.ajax({
                type: "POST",
                url: "{% url 'collection_nav' group_id %}",
                datatype: "html",
                data:{
                  node_id: node.id,
                  curr_node:"{{node.pk}}",
                  nav: nav_list,
                  nod_type: node_type,
                  csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data) {
                  if (node_type == "Page"){
                   window.history.pushState("", "", "/{{group_name_tag}}/page/{{node.pk}}"+"?selected="+node.id+"");
                  }
                  else if(node_type == "File"){
                    window.history.pushState("", "", "/{{group_name_tag}}/file/{{node.pk}}"+"?selected="+node.id+"");  
                  }
                  else if (node_type == "Term"){
                    window.history.pushState("", "", "/{{group_name_tag}}/term/{{node.pk}}"+"?selected="+node.id+"");
                  }
                  else if (node_type == "Course"){
                    window.history.pushState("", "", "/{{group_id}}/course/course_detail/{{node.pk}}"+"?selected="+node.id+"");
                  }
                  else if (node_type == "Group"){
                    window.history.pushState("", "", "/{{node.pk}}"+"?selected="+node.id+"");
                  }
                  else if (node_type == "Topic"){
                    window.history.pushState("", "", "/{{group_name_tag}}/topic_details/{{node.pk}}"+"?selected="+node.id+"");
                  }
                                      
                  $("#view_page").html(data);

                }


            });
          
        }
      );
      
    }

    // This function takes id of clicked "related" node and redirect to its page with its proper breadcrumbs
    // nav_li manipulates the navigation path of that topic in theme map
    function topic_redirect (obj_id) {

      var nav_list = window.location.search.replace("?nav_li=", ""); // This takes "nav_li" from browser url
      var nav_li = nav_list.replace('{{node.pk}}', obj_id); // This replaces the last node id with clicked "related" node id
      location.href = "/{{group_name_tag}}/topic_details/"+obj_id+"?nav_li="+nav_li+"";
    }
    
  </script>

<style type="text/css">
  
  .collection {
    border: solid thin #ddd;
    margin-bottom: 1em;
    overflow: auto;
  }

  .collection > ul li:nth-child(odd) { background: #ddd; }
  
</style>  

{% endblock %}  

  {% if topic %}
    <!-- For displaying related nodes in topic page -->
    <!-- Related node means all collection elements of its teme item i.e all siblings of topic node -->
    <fieldset>
      {% if prior_obj %}        
      <legend>Topics of {{prior_obj.name}}</legend>

          {% for each in prior_obj.collection_set %}
              <!-- To get the node object -->
              {% get_node each as obj %}
              
              <!-- Clicked topic should not be included in related nodes list -->
              {% if node.pk != obj.pk %}
                <i class="fi-arrow-right"></i> <a onclick='topic_redirect("{{obj.pk}}")'>{{obj.name}}</a><br/>
              {% endif %} 

          {% endfor %}

      {% endif %}
        
    </fieldset>

  {% endif %}

  <b class="current">{{node.name}}</b>
  <div>
    <div class="collection" data-url="{% url 'get_collection' group_id node.pk %}"></div>
  </div>
