{% load get_nroer_menu  get_user_group  get_group_object  get_existing_groups_excluded  get_profile_pic  get_gapps_iconbar user_access_policy get_user_object check_is_gstaff get_attribute_value get_sg_member_of get_relation_value get_explore_url get_test_page_oid get_gstudio_registration from  ndf_tags %}
{% load i18n %}
{% load cache %}

  {% get_group_object groupid as group_object %}
  {% get_explore_url as explore_url %}
  {% get_test_page_oid as help_oid %}
  {% get_gstudio_registration as registration %}

<nav class="top-bar" data-topbar role="navigation" id="menu_bar_gstudio">       
    <ul class="title-area">
        <li class="name show-for-medium-up">
            <a class="loggedin-user" href="{% url 'landing_page' %}">
            <img src="{{site.SECONDARY_LOGO}}">
            </a>
        </li>
    </ul>
    <section class="top-bar-section">
        <ul>
        <li class="has-dropdown">
            <a>{% trans "Language" %} &nbsp; | &nbsp; {{request.LANGUAGE_CODE}}</a>
            <ul class="dropdown">

              {% for lang in LANGUAGES %}
                <li>
                  <form action="/i18n/setlang/" method="POST">
                    {% csrf_token %}
                    <input name="url" type="hidden" value="{{request.get_full_path}}"/>
                    <input type="hidden"  name="language" value="{{ lang.0 }}">
                    <input type="submit" class="button expand secondary" value="{{ lang.1 }}"/>
                  </form>
                </li>
              {% endfor %}

            </ul>
        </li>
    </ul>

    {% if request.user.is_authenticated %}
    <ul class="right hide-for-medium-up side-bar-menu hide">
        <li class="has-dropdown not-click">
            <a href="#">
                <img class="fi-torso" class="user-profile-pic-small"/>
                {{ request.user.username }}
            </a>
            <ul class="dropdown">
                <li>
                    <a href="{% url 'auth_password_change' %}">{% trans "Change Password" %}
                    </a>
                </li>
                <li>
                    <a class="logout" href="{% url 'auth_logout' %}">
                      <i class="fi-power"></i> &nbsp;{% trans "Logout" %}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    {% else %}
        <ul class="right hide-for-medium-up side-bar-menu hide">
        <li class="">
            <a class="" href="{% url 'auth_login' %}" accesskey="l">
            <i class="fi-key"></i>&nbsp; {% trans "Login" %}
          </a>
        </li>
        </ul>
    {% endif %}

    </section>
</nav>
<nav class="top-bar " data-topbar role="navigation" id="menu_bar_gstudio">
    <section class="top-bar-section">
        <!-- Right Nav Section -->

        <!-- Left Nav Section -->
        <ul class="right">
            {% if request.user.id %}
            <li class=""><a href="{% url 'my_desk' request.user.id %}" {% if title == "my desk" %} class="active" {% endif %}>My Desk</a></li>
            {% endif %}
            <li><a> Treatments</a></li>
            <li><a> Offers</a></li>
            <li><a> FAQs</a></li>
            <li><a> About CDAC</a></li>
            <li><a> Contact</a></li>
        </ul>
    </section>
</nav>
    <script type="text/javascript">
        // $(document).foundation();
        $(function(){
            $('.top-bar .toggle-topbar').on('click', function() {
                $('.top-bar').find('.close-menu-dropdown, .side-bar-button').toggleClass('hide');
                $('.top-bar-section ul.dropdown-menu').removeClass('hide');
                $('.top-bar-section ul.side-bar-menu').addClass('hide');
            });

            $('.top-bar .side-bar-button').on('click', function() {
                $('.top-bar').toggleClass('expanded');
                $('.top-bar-section ul.dropdown-menu').addClass('hide');
                $('.top-bar-section ul.side-bar-menu').removeClass('hide');
            });

            $('.top-bar .close-menu-dropdown').on('click', function() {
                $('.top-bar .toggle-topbar').trigger('click');
            })
        })
    </script>
  

  
