{% load ndf_tags %}
{% load i18n %}
<script src="/static/ndf/bower_components/jquery-ui/jquery-ui.js"></script> <!-- checked -->
<link href="/static/ndf/bower_components/jquery-ui/themes/smoothness/jquery-ui.css" rel="stylesheet"> <!-- checked -->

<script type="text/javascript">
var data_prefs="";
var not_status="OFF";
var inviting_users="";

$(document).on('click',"#adminchecknotif",function() {
  if($('#adminchecknotif').attr('checked')) {
    not_status="ON";
  }
  else
  {
    not_status="OFF";
  }
});



function invite_user_or_admin(){
get_all_data();
var inviting_users = data_prefs;
data_prefs = ""
person_type = $(".user_or_admin").val();
if(person_type == "admins"){
  var surl = "/{{node}}/group/notify/invite_admins/"
}
if(person_type=="users"){
  var surl = "/{{node}}/group/notify/invite_users/"
}
if (not_status=="OFF")
{
  alert("Notification mails sent to newly selected users(if any)");
}
else
{
  alert("Notification mails sent to all users except group owner");
}
$.ajax({
        url: surl,
        type: 'POST',
        data: {users:inviting_users,notif_status:not_status,csrfmiddlewaretoken: '{{ csrf_token }}'},
        beforeSend: function() {
              $("#ajax_load_image").show();
              $("#content").css({"opacity":"0.1",})
                              },
       success: function(data){
                if(data=="Success")
                    { alert("Successfully applied modifications and e-mail notifications send");
                      $('.close-reveal-modal.group').trigger('click'); 

                     }

                else{
                      alert("failed to subscribe");
                      $('.close-reveal-modal.group').trigger('click');
                        }

                             },
        complete: function(){
                $("#ajax_load_image").hide();
                $("#content").css({"opacity":"",})
          }
}); 
}

$(document).on('click',".list_to_invite",function() {
 $('#admin_colln_set_drawer1').html("");
 $('#admin_colln_set_drawer2').html("");
 $('#admin_colln_set_drawer1').html('<li class="price"><input type="text" placeholder="Type here to search users" id="drawer_search" class="margin-0"></li>');

 avail_classes = $(this).attr('class');
 if (avail_classes.indexOf("admins") != -1){
    url="/{{node}}/group/notify/invite_admins/"
    $(".user_or_admin").val("admins");
 }
 if (avail_classes.indexOf("users") != -1){
    console.log("getting users")
    url="/{{node}}/group/notify/invite_users/"
    $(".user_or_admin").val("users");
  }

 $.getJSON( url, function( data ) {
  $.each(data ,function(index , drawer_elements){
   if(index == 0)
    {
     $.each(drawer_elements.drawer1, function(index, element) {

        $('#admin_colln_set_drawer1').append("<li id='"+element.id+"' class='bullet-item text-left'>"+element.name+"</li>");
      });
   }
   if(index == 1)
    {
    $.each(drawer_elements.drawer2, function(index, element) {
        $('#admin_colln_set_drawer2').append("<li id='"+element.id+"' class='bullet-item text-left'>"+element.name+"</li>");
      });
    }

 }); //close each
   }); //getjson
}); //document click

function get_all_data(){
 $.each($('#admin_colln_set_drawer2 li'),function(index,item){
         data_prefs=data_prefs+String(item.id)+",";
         });
}

$(document).on('click',".close-reveal-modal",function(e){
   $('#admin_colln_set_drawer1').html("");
   $('#admin_colln_set_drawer2').html("");

})
$(document).on('keydown',"#drawer_search",function(e){
      if (e.keyCode == 8) {
        // If backspace pressed, then show all
        search_text_len = 0;
      }
      var $li = $("#drawer_search").parents("li").nextAll("li.bullet-item")
      if(e.keyCode==13){
        var search_text = (this.value).toLowerCase();
        var search_text_len = (search_text.length + 1);

      }
      if (search_text_len>0) {
        $(".searching").css("display", "block");
        $li.each(function() {
          val_chk = $(this).text().toLowerCase().search(search_text)  
          if (val_chk != -1) {
            $(this).css("display", "block");
          }     
          else{
            $(this).css("display", "none");
          }
        });
        $(".searching").css("display", "none");
      }
      else if (search_text_len == 0) {
        $li.filter(function() {
          if ($(this).css("display") == "none") {
            return true;
          }

          else {
            return false;
          }
        }).show();
      }

})



</script>

<div id="subscr_admins">
<li class="admins list_to_invite"><a href="#" data-reveal-id="invites">Subscribe Admins</a></li>
<li class="users list_to_invite"><a href="#" data-reveal-id="invites">Subscribe Users</a></li>

<div id="invites" class="reveal-modal " data-reveal >
     
     {% blocktrans %}<h2>Select Users</h2>{% endblocktrans %}
      <div id="drawer_div" >
        {% include "ndf/drawer_widget.html" with widget_for="admin_colln_set"  %}
      </div>
            {% blocktrans %}<label><input type="checkbox" id="adminchecknotif" value="ON">Send notification mails to all except the group owner</label>{% endblocktrans %}
      <input type="hidden" class="user_or_admin">
      <input type="button" id="#submitUserInvite" class="button small" value="submit" onClick="invite_user_or_admin()"> 
     <a class="close-reveal-modal group">{% trans "&#215" %}; </a>
</div>
</div>