{% extends "ndf/mis_base.html" %}
{% load i18n %}
{% load ndf_tags %}
{% load pagination_tags %}

{% block title %} {{ title }} {% endblock %}

{% block style %}
  {{block.super}}

  /* Setting css-properties for app-set in left panel */
    .active-app-set, .active-app-set-edit, .active-app-set-view {
      /*padding:0.5em 0 0.5em 0.5em; */
      /*margin-left: -10px !important;*/
      background-color:#efefef;
    }

    .active-app-set-edit {
      border-right: 4px solid #808080;
      font-weight: bold;
    }

    .active-app-set-view {
      border-left: 4px solid #808080;
      font-weight: bold;
    }

  /* css-properties for table */
    .width_s_no {
      width: 5%;
    }

    .width_edit {
      width: 8%;
    }

    .width_delete {
      width: 8%;
      line-height: 0.5em;
      text-align: center !important;
    }

    .width_name {
      width: 31%;
    }

    .margin-0r {
      margin: 0 !important;
    }

    .counter {
      font-weight: bold;
      text-align: right;
    }

    .tiny.button {
      font-size: 1em !important;
    }
{% endblock%}

{% block body_content %} 
  {% check_is_gstaff groupid request.user as gstaff_access %}

  {% comment %}
  <!-- 
    get_features_with_special_rights: Returns list of feature(s) for which creation rights should not be given
  -->
  {% endcomment %}
  {% get_features_with_special_rights groupid request.user as features_list %}

  {% if nodes %}
    {% autopaginate nodes 25 %}
  
    <div id="myModal" class="reveal-modal" data-reveal style="height:500px;overflow:scroll;"> 
     {% blocktrans %} <h3>Are you sure you want to delete? All of the following related data also will be deleted:</h3> {% endblocktrans %} 
      <input class="button tiny confirmDeleteObjects" type="button" value="Confirm">
      <input class="button tiny cancelDeleteObjects" type="button" value="Cancel">
      <div id="deletion_results"></div>
      <a class="close-reveal-modal">&#215;</a>
    </div>

    <div class="row" style="margin-top: 1rem;">
      <form method="POST">
        {% csrf_token %}
        <div class="large-5 large-push-7 columns">
          <div class="row collapse">
            <div class="large-10 columns">
              <input type="text" name="search" value="" placeholder="By name...">
            </div>
            <div class="large-2 columns end">
              <input type="submit" class="button postfix" value="Search">
              <input type="hidden" name="class" value="{{class_name}}">
            </div>
          </div>
        </div>
      </form>
    </div>
  {% endif %}

  <table>
    <thead>
      {% if nodes %}
        <th class="width_s_no counter">{% trans "S. #" %}</th>
        {% for each_key in nodes_keys %}
        <th class="width_{{each_key.0}}">{{each_key.1}}</th>
        {% endfor %}
        {% if gstaff_access and group_name_tag != "MIS_admin" %}
          <th class="width_edit">{% trans "Enroll" %}</th>
        {% endif %}
      {% endif %}
    </thead>
    
    <tbody>
      {% for each in nodes %}
        <tr>
          <td class="counter">{{forloop.counter}}.</td>
          {% for each_key in nodes_keys %}
          {% if forloop.counter == 1 %}
          <td>{{each|get_dict_item:each_key.0|title}}</td>
          {% elif forloop.counter > 2 %}
          <td>{{each|get_dict_item:each_key.0|default:"--"}}</td>
          {% else %}
          <td>{{each|get_dict_item:each_key.0}}</td>
          {% endif %}
          {% endfor %}
          {% if gstaff_access and group_name_tag == "MIS_admin" %}
          <td>
            <a href="{% url 'mis:mis_app_instance_edit' groupid app_id app_set_id each.pk %}" style="font-size:14px;" class="button small">{% trans "Edit" %}</a>
          </td>
          {% endif %}

          {% if gstaff_access and group_name_tag != "MIS_admin" %}
            <td class="name"><a href="{% url 'mis:mis_enroll' groupid app_id app_set_id each|get_dict_item:'_id' %}" target="_blank" class="button tiny expand margin-0r width_edit">Enroll</a></td>
          {% endif %}
        </tr>
        
      {% empty %}
        {% blocktrans %}<h3>No data to display</h3> {% endblocktrans %}

      {% endfor %}
    </tbody>
  </table>

  {% paginate %}

{% endblock %}

{% block script %}
  {{block.super}}

{% endblock %}  
